.forms{
  display:flex;
  flex-direction: column;
  width:50%;
  
  justify-content: center;
  
}
.form__label{
  display: flex;
  flex-direction: column;
  margin:1% 0;

}
.form__input{
  margin:0.5% 0;
  border:none;
  outline:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
  padding:7px 10px;

}


.form__input:focus {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


button{
  border:none;
  outline:none;
  background-color: goldenrod;
  color:white;
  margin:7px 0 30px 0;
  padding:7px 7px;
}

.emp{
  text-align: center;
  margin: 30px;
}

.addButton{
  color:white;
  text-decoration: none;
  width:50%;
  
}

.empInfo{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.addButton1{
  width:30%;
  margin: auto;
}

.delete{
  color:darkred;
}
.hidden{
  display:none;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  transition: opacity 0.3s ease;
}

.error:not(:empty) {
  opacity: 1;
}
.empInfo__head{
  font-weight: 600;
}.filterContainer {
  margin-bottom: 20px;
}

.filterDropdown {
  margin-right: 10px;
  padding:10px 20px;

}

.filterInput {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width:50%;
}
.resetButton{
  margin-left: 10px;
  padding:10px 20px;
  border-radius: 5px;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  padding: 10px; /* Padding around the text */
  text-align: center; /* Center-align the text */
  z-index: 9999; /* Ensure the alert appears on top of other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for a raised effect */
}

.custom-alert.close {
  display: none; /* Hide the alert when it's closed */
}

button:disabled {
  background-color: rgba(218, 165, 32, 0.5); /* Adjust opacity as needed */
  cursor: not-allowed;
}